// **** Navigation scss
@import '../_init';
@import '../_mixins';

/*fixes width issue*/



#page, #header{
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.header__secondary-menu{
  margin: 0;
  padding: 15px 0;
  display: block;
  float: inherit;
  
  @media only screen and (min-width: 21.875em){
    padding: 5px 0;
    
  }
  @media only screen and (min-width: 30.0em) { //480px
    clear: both;
    padding: 0;
    li{
      margin-top: -5px;
    }
  }
  li, a{
    margin: 0;
    padding: 0;
  }
}

.not-logged-in .header__secondary-menu{
    .login{
      @extend .icons-login;
    }
}

.logged-in .header__secondary-menu{ 
    .login{
      display: none ;
    }
    .logout{
      @extend .icons-logout;
    }
}

.user-settings{
   @extend .icons-gear;
 }

.header__secondary-menu { 
  ul{
    list-style-type: none;
    text-align: center;
    margin: 0 3em 0 0;
    padding: 0;
    float: right;
  }
  
  li a{
    display: inline-block;
    height: 25px;
    width: 25px;
    @include hide-text;
    padding: .5em 0;
    border: 0;
    color: #f1f1f1;
    text-decoration: none;
    font-weight: 400;
    margin: 0 10px 10px;
    clear: left;
    @include ease;
    @include transition-property(opacity);
    
    &:hover{
      border: 0;
      @include opacity(.6);
    }
    @media only screen and (min-width: 21.875em) { //335px
      margin: 10px;
      clear: none;
    }
  }// li a

  @media only screen and (min-width: 30.0em) { //480px
   .logo{
     float: left;
     display: inline-block;
   }
   ul{
     float: right;
     margin: -50px 4em 0 0;
   }
   li{
     display: inline-block;
     margin-left: 1em;
     a{
       @include show-text;
       background: none !important; 
       width: auto;
       height: 2em;
       margin: 0;
       padding-bottom: 0;       
       &:hover{
         text-decoration: none;
         @include opacity(1);
         
        border-bottom: 1px solid #666;
       }//hover
     }//a
   }//li 
  }//mediaquery
}


.header__region{
      float: right;
  ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-top: -2.65em;
    margin-right: 1em;
  }
  li{
     display: inline-block;
     a{
       color: #f1f1f1;
       font-weight: 400;
       @include show-text;
       background: none !important; 
       width: auto;
       height: 2em;
       margin: 0;
       padding-bottom: 0;       
       &:hover{
         text-decoration: none;
         @include opacity(1);
         
        border-bottom: 1px solid #666;
       }//hover
       &.active{
        display: none;
       }
     }//a
   }//li
}
#navigation{
  @include border-box;
  
}


/* IE8 Fixes */

.lt-ie9{
  .logo{
    img{
      float: left;
      margin-top: -1.4em;
    }
    span{
      padding: 1em 0 0 3em;
    }
  }
  .header__secondary-menu ul{
    padding-top: 5px;
  }
}

.relative{
  #navigation.main-navigation{
      :focus{
         outline: transparent auto 0;
       }

   //height: 56px;
    background-color: $light-grey;
    @media only screen and (min-width: 30.0em) { //480px
      height: 56px;
      //overflow: hidden;
    }//media
    li{
      margin: 1em .5em;
      a, 
      a:link,
      a:visited{
        color: #888;
        @include rem-fallback(font-size, 1);//18px
        @include ease;
      }//a
      a:hover,
      a:focus,
      a:active, 
      a.active, 
      a.active-trail{
        border: 0;
        color: #555;
      }

    }//li
  }//main
  @media only screen and (min-width: 30em) { //480px
    #navigation.main-navigation{
      position: inherit;
    }//main
  }//media
  @media only screen and (min-width: 35em) { //480px
  
    #navigation.main-navigation li{
      margin: 1em;
      a, 
      a:link,
      a:visited{
        @include rem-fallback(font-size, 1.125);//18px
      }//a
    }//li
  }//media
}//relative

.sticky-wrapper{
  margin-top: 56px;
}

.my-sticky-element.stuck{
  width: 100%;
  position: fixed !important;
  z-index: 100;
  //top: 151px !important;
  top: 56px !important;

}

/* Footer Styling */

.fb{
  @extend .icons-facebook; 
}

.twitter{
  @extend .icons-twitter; 
  background-position: 0 -48px !important;
  }


.front .region-footer, .not-front .region-footer{
  position: absolute;
  bottom: -24px;
  width: 100%;
  margin-bottom: 0;
  
    background-color: #111;
    padding:0 1em ;
    color: #f1f1f1;
    ul{
      display: inline-block;
      float: left;
      list-style-type: none;
      margin: 0;
      padding: .5em 0; 
      li{
        display: inline;
        a{
          @include hide-text;
           display: inline-block;
           margin: 0 .5em 0;
           height: 25px;
           width: 25px;
           @include ease;
           &:hover{
            border-bottom: 0;
            @include opacity(.6); 
           }
        }
      }//li
    }//ul
    
    .block{
      margin-bottom: 0;
    }
    
    
    .colophon{
      padding: 0; 
      margin: 3px;
      color: #555;
      font-size: .775em;
      font-weight: 400;
      float: right;
      display: inline-block;
      
      @media only screen and (min-width: 20.0em) { //320px
        padding-top: .75em;
      }
      a{
        color: #555;
        &:hover{
          border-color: #333;
        }
      }
    }
}//footer



