/* line 74, ../images/icons/*.png */
.icons-sprite, .icons-facebook, .fb, .icons-gear, .user-settings, .icons-login, .not-logged-in .header__secondary-menu .login, .icons-logout, .logged-in .header__secondary-menu .logout, .icons-twitter, .twitter {
  background: url('../../images/../images/icons-s72525cd446.png') no-repeat;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook, .fb {
  background-position: 0 -100px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-gear, .user-settings {
  background-position: 0 0;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-login, .not-logged-in .header__secondary-menu .login {
  background-position: 0 -75px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logout, .logged-in .header__secondary-menu .logout {
  background-position: 0 -25px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter, .twitter {
  background-position: 0 -50px;
}

/*fixes width issue*/
/* line 9, ../../sass/components/navigation.scss */
#page, #header {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

/* line 15, ../../sass/components/navigation.scss */
.header__secondary-menu {
  margin: 0;
  padding: 0;
  display: block;
  float: inherit;
}
@media only screen and (min-width: 30em) {
  /* line 15, ../../sass/components/navigation.scss */
  .header__secondary-menu {
    clear: both;
  }
}
/* line 23, ../../sass/components/navigation.scss */
.header__secondary-menu li, .header__secondary-menu a {
  margin: 0;
  padding: 0;
}

/* line 36, ../../sass/components/navigation.scss */
.logged-in .header__secondary-menu .login {
  display: none;
}

/* line 49, ../../sass/components/navigation.scss */
.header__secondary-menu ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  float: right;
}
/* line 57, ../../sass/components/navigation.scss */
.header__secondary-menu li a {
  display: inline-block;
  height: 25px;
  width: 25px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: .5em 0;
  border: 0;
  color: #f1f1f1;
  text-decoration: none;
  font-weight: 400;
  margin: 0 10px 10px;
  clear: left;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
/* line 72, ../../sass/components/navigation.scss */
.header__secondary-menu li a:hover {
  border: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
@media only screen and (min-width: 20.9375em) {
  /* line 57, ../../sass/components/navigation.scss */
  .header__secondary-menu li a {
    margin: 10px;
    clear: none;
  }
}
@media only screen and (min-width: 30em) {
  /* line 83, ../../sass/components/navigation.scss */
  .header__secondary-menu .logo {
    float: left;
    display: inline-block;
  }
  /* line 87, ../../sass/components/navigation.scss */
  .header__secondary-menu ul {
    float: right;
    margin-top: -43px;
    margin-right: 1em;
  }
  /* line 92, ../../sass/components/navigation.scss */
  .header__secondary-menu li {
    display: inline-block;
    margin-left: 1em;
  }
  /* line 95, ../../sass/components/navigation.scss */
  .header__secondary-menu li a {
    text-indent: 0;
    white-space: normal;
    overflow: visible;
    background: none !important;
    width: auto;
    height: 2em;
    margin: 0;
    padding-bottom: 0;
  }
  /* line 102, ../../sass/components/navigation.scss */
  .header__secondary-menu li a:hover {
    text-decoration: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    border-bottom: 1px solid #666;
  }
}

/* line 113, ../../sass/components/navigation.scss */
.relative {
  position: relative;
  width: 100%;
  margin-top: 250px;
}
/* line 118, ../../sass/components/navigation.scss */
.relative #navigation.main-navigation {
  background-color: #f1f1f1;
}
@media only screen and (min-width: 30em) {
  /* line 118, ../../sass/components/navigation.scss */
  .relative #navigation.main-navigation {
    height: 56px;
  }
}
/* line 124, ../../sass/components/navigation.scss */
.relative #navigation.main-navigation li {
  padding: 1rem .5rem;
}
@media only screen and (min-width: 30em) {
  /* line 132, ../../sass/components/navigation.scss */
  .relative #navigation.main-navigation {
    position: inherit;
  }
}

/* line 138, ../../sass/components/navigation.scss */
.sticky-wrapper {
  margin-top: 48px;
}

/* line 142, ../../sass/components/navigation.scss */
.my-sticky-element.stuck {
  width: 100%;
  position: fixed !important;
  z-index: 100;
  top: 48px !important;
}

/* Footer Styling */
/* line 159, ../../sass/components/navigation.scss */
.twitter {
  background-position: 0 -48px !important;
}

/* line 171, ../../sass/components/navigation.scss */
.front .region-footer, .not-front .region-footer {
  position: absolute;
  bottom: -24px;
  width: 100%;
  margin-bottom: 0;
  background-color: #111;
  padding: 0 1em;
  color: #f1f1f1;
}
/* line 180, ../../sass/components/navigation.scss */
.front .region-footer ul, .not-front .region-footer ul {
  display: inline-block;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: .5em 0;
}
/* line 186, ../../sass/components/navigation.scss */
.front .region-footer ul li, .not-front .region-footer ul li {
  display: inline;
}
/* line 188, ../../sass/components/navigation.scss */
.front .region-footer ul li a, .not-front .region-footer ul li a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  margin: 0 .5em 0;
  height: 25px;
  width: 25px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 195, ../../sass/components/navigation.scss */
.front .region-footer ul li a:hover, .not-front .region-footer ul li a:hover {
  border-bottom: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 203, ../../sass/components/navigation.scss */
.front .region-footer .block, .not-front .region-footer .block {
  margin-bottom: 0;
}
/* line 208, ../../sass/components/navigation.scss */
.front .region-footer .colophon, .not-front .region-footer .colophon {
  padding: 0;
  margin: 3px;
  color: #555;
  font-size: .775em;
  font-weight: 400;
  float: right;
  display: inline-block;
}
@media only screen and (min-width: 20em) {
  /* line 208, ../../sass/components/navigation.scss */
  .front .region-footer .colophon, .not-front .region-footer .colophon {
    padding-top: .75em;
  }
}
/* line 220, ../../sass/components/navigation.scss */
.front .region-footer .colophon a, .not-front .region-footer .colophon a {
  color: #555;
}
/* line 222, ../../sass/components/navigation.scss */
.front .region-footer .colophon a:hover, .not-front .region-footer .colophon a:hover {
  border-color: #333;
}
