/* line 74, ../images/icons/*.png */
.icons-sprite, .icons-facebook, .icons-gear, .icons-login, .icons-logout, .icons-twitter {
  background: url('../../images/../images/icons-s72525cd446.png') no-repeat;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: 0 -100px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-gear {
  background-position: 0 0;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-login {
  background-position: 0 -75px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logout {
  background-position: 0 -25px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter {
  background-position: 0 -50px;
}

/* line 4, ../../sass/components/pages.scss */
body {
  background: url(../images/bg.jpg) no-repeat center center fixed;
}

/* line 8, ../../sass/components/pages.scss */
body.front {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

/* line 16, ../../sass/components/pages.scss */
body.not-front {
  background-position: 0 0;
  background-size: 600px;
}
@media only screen and (min-width: 30em) {
  /* line 16, ../../sass/components/pages.scss */
  body.not-front {
    background-position: 0 -50px;
    background-size: 800px;
  }
}
@media only screen and (min-width: 45em) {
  /* line 16, ../../sass/components/pages.scss */
  body.not-front {
    background-position: 0 0;
    background-size: 100%;
  }
}
@media only screen and (min-width: 60em) {
  /* line 16, ../../sass/components/pages.scss */
  body.not-front {
    background-position: 0 -100px;
  }
}

/* line 35, ../../sass/components/pages.scss */
.not-front .main {
  background-color: #fff;
  color: #222;
  padding-bottom: 100px;
  padding-top: 2em;
}

/* line 42, ../../sass/components/pages.scss */
.region-footer {
  bottom: -22px;
}

/* line 46, ../../sass/components/pages.scss */
#page {
  position: relative;
}

/* line 51, ../../sass/components/pages.scss */
h1 {
  line-height: 1;
}

/* line 55, ../../sass/components/pages.scss */
.header__site-name {
  line-height: 1;
}

/* line 59, ../../sass/components/pages.scss */
.logo {
  padding: 0;
  font-size: 1rem;
  text-decoration: none;
}
@media only screen and (min-width: 30em) {
  /* line 59, ../../sass/components/pages.scss */
  .logo {
    padding: 0 1em;
  }
}
/* line 67, ../../sass/components/pages.scss */
.logo img {
  margin: 2px;
  padding: 0;
  vertical-align: none;
}
/* line 72, ../../sass/components/pages.scss */
.logo span {
  vertical-align: top;
  padding: 15px 15px 15px 0;
  display: inline-block;
  text-transform: uppercase;
  color: #fafafa;
  font-weight: 400;
}
@media only screen and (min-width: 30em) {
  /* line 72, ../../sass/components/pages.scss */
  .logo span {
    padding: 15px 15px;
  }
}
/* line 85, ../../sass/components/pages.scss */
.logo strong {
  font-weight: 900;
}
/* line 89, ../../sass/components/pages.scss */
.logo:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  border: 0 !important;
  opacity: 0.7;
  text-decoration: none;
}

/* line 97, ../../sass/components/pages.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #222;
  margin: 0;
  padding: 5px 0;
}

/* line 110, ../../sass/components/pages.scss */
.front .main {
  min-height: 700px;
  color: #f1f1f1;
  padding: 1em;
}
/* line 117, ../../sass/components/pages.scss */
.front .main a:link,
.front .main a:visited,
.front .main a:active {
  color: #0d70aa;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 2px;
}
/* line 122, ../../sass/components/pages.scss */
.front .main a:link:hover,
.front .main a:visited:hover,
.front .main a:active:hover {
  border-bottom: 1px solid #09517b;
}
/* line 126, ../../sass/components/pages.scss */
.front .main h1 {
  margin-top: 125px;
  font-size: 1.9em;
  line-height: 1.4;
  text-align: center;
}
@media only screen and (min-width: 30em) {
  /* line 126, ../../sass/components/pages.scss */
  .front .main h1 {
    text-align: left;
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 48em) {
  /* line 126, ../../sass/components/pages.scss */
  .front .main h1 {
    margin-top: 95px;
    font-size: 3em;
  }
}
/* line 141, ../../sass/components/pages.scss */
.front .main .feature {
  position: relative;
  padding: .5em 1.5em;
  border-bottom: 7px solid #000;
  line-height: 1.5;
  -webkit-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000)";
  /* IE8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
  /* IE6 & 7 */
  zoom: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 30em) {
  /* line 141, ../../sass/components/pages.scss */
  .front .main .feature {
    max-width: 600px;
  }
}
@media only screen and (min-width: 48em) {
  /* line 141, ../../sass/components/pages.scss */
  .front .main .feature {
    font-size: 1.125em;
    width: 600px;
  }
}

/* line 174, ../../sass/components/pages.scss */
.triangle-right.top:before {
  top: -20px;
  left: 0;
  bottom: auto;
  border-width: 20px 0 0 20px;
  border-color: transparent rgba(0, 0, 0, 0.5);
}

/* line 182, ../../sass/components/pages.scss */
.triangle-right:before {
  content: "";
  position: absolute;
  bottom: -20px;
  border-width: 20px 0 0 20px;
  border-style: solid;
  border-color: #000 transparent;
  display: block;
  width: 0;
}

/* line 193, ../../sass/components/pages.scss */
.wrapper {
  margin: 0 auto;
}
@media only screen and (min-width: 60em) {
  /* line 193, ../../sass/components/pages.scss */
  .wrapper {
    width: 960px;
  }
}
@media only screen and (min-width: 90em) {
  /* line 193, ../../sass/components/pages.scss */
  .wrapper {
    width: 1100px;
  }
}
